/*
    Inspiration from w3schools
*/
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.main-content {
    min-height: 500px;
    margin-left: 25%;
}
.indvdl-card {
    width: 45%;
}

#card-area {
    margin: 3%;
    float: left;
}

#formBox {
    float: left;
    margin: 3%;
}